.root {
  @apply relative grid items-start gap-1 grid-cols-1 overflow-x-hidden px-16 pt-14 bg-mygray;
  min-height: auto;
}

.main {
  @apply relative px-0 pb-0 box-border flex flex-col col-span-1;
  min-height: 800px;
  /* width: 800px; */
}

.sidebar {
  @apply flex flex-col col-span-1 mx-auto max-w-8xl px-28 w-full h-full text-primary-2;
}

.sliderContainer {
  @apply flex items-center justify-center overflow-x-hidden bg-secondary max-w-[1600px] mx-auto;
}

.imageContainer {
  @apply flex items-center justify-center w-full h-full relative;
}

.sliderContainer .img {
  @apply object-cover h-full;
}

.button {
  width: 100%;
}

.wishlistButton {
  @apply absolute z-30 top-0 right-0;
}

.relatedProductsGrid {
  @apply grid grid-cols-2 py-2 gap-2 md:grid-cols-4 md:gap-7;
}

@screen lg {
  .root {
    @apply grid-cols-10;
  }

  .main {
    @apply mx-0 col-span-5 items-end;
  }

  .sliderContainer{
    @apply max-w-[800px] mx-0;
  }

  .sidebar {
    @apply col-span-5 px-12;
  }

  .imageContainer {
    max-height: 720px;
  }
}
